.nav {
	padding: 10px;
	padding-top: 20px;
}

.nav ul{
	margin: 0; 
	padding: 0; 
	list-style: none;
}

.nav li{ 
	display: inline; 
	padding: 0; 
	margin: 0; 
	float: left;
}

.nav li a{
	display: block;
	width: 100px;
	padding: 3px;
	margin: 10px 0px 10px 0px;
	text-decoration: none;
	border:outset 3px #C2CBBD;
	background-color: #C2CBBD;
	text-align: center;
	color: white;
	font-size: 14px;
}

.nav li a:hover{
	border: inset 3px #95A38D;
	background-color: #95A38D;
}
