.nav {
	padding: 10px;
	padding-top: 20px;

}

/*
.nav li {
	display: inline;
	float: left;
	padding-left: 20px;
	background-color: gray;
}


.nav a {
	color: white;
	font-size: 15px;
}

*/

/*webからコピー　メニューバー*/

.nav ul{
	margin: 0; 
	padding: 0; 
	list-style: none;
}

.nav li{ 
	display: inline; 
	padding: 0; 
	margin: 0; 
	float: left;
}

.nav li a{
	display: block;
	width: 100px;
	padding: 3px;
	margin: 10px 0px 10px 0px;
	text-decoration: none;
	border:outset 3px #C2CBBD;
	background-color: #C2CBBD;
	text-align: center;
	color: white;
	font-size: 14px;
}

.nav li a:hover{
	border: inset 3px #95A38D;
	background-color: #95A38D;
}

/*コピペここまで*/


/*スライドショーのためにコピペ*/

<style type="text/css">
#slideshow {
   position: relative;
   width:  640px; /* 画像の横幅に合わせて記述 */
   height: 270px; /* 画像の高さに合わせて記述 */
}
#slideshow img {
   position: absolute;
   top: 100px;
   left: 100px;

   z-index: 8;
   opacity: 0.0;
}
#slideshow img.active {
   z-index: 10;
   opacity: 1.0;
}
#slideshow img.last-active {
   z-index: 9;
}
</style>

/*コピペここまで*/




.jumbotron .container {
 	position: absolute;
 	top: 550px;
 	left: 150px;
 	background-color: gray;
}

.jumbotron h1 {
	color: white;
	font-size: 55px;
	padding-left: 100px;
}

.recentupdates {
	position: absolute;
	top: 700px;
	left: 100px;
}


}

.recentupdates h2 {
	font-size: 15px;
	padding: 20px;
}

.recentupdates h3 {
	font-size: 15px;
}

.recentupdates p {
	font-size: 13px;
}

.recentupdates img {
	width: 250px;
	height: 300px;
}

