.nav {
	padding: 10px;
	padding-top: 20px;

}

.nav li {
	display: inline;
	float: left;
	padding-left: 20px;
	background-color: gray;
}

.nav a {
	color: white;
	font-size: 15px;
}

.jumbotron {
	background-image: url('../img/top_forest.jpg');
	height: 450px;

}

.jumbotron .container {
  position: relative;
  background-color: gray;
  top:250px;
}

.jumbotron h1 {
	color: white;
	font-size: 55px;
	/*topのHello,Folks!もちょい左寄せにしたいのですが
	padding-leftが効きません*/
	padding-left: 100px;
}

.jumbotron p {
	color: white;
	font-size: 20px;
	padding-left: 100px;
}

.recentupdates h1 {
	font-size: 15px;
	padding: 20px;
}

.recentupdates h3 {
	font-size: 15px;
}

.recentupdates p {
	font-size: 13px;
}

.recentupdates img {
	width: 250px;
	height: 300px;
}

